button {
  padding: 1rem 2rem;
  background-color: brown;
  color: white;
}

.popup {
  background: hsla(0, 0%, 30%, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  --opacity: 0;
  opacity: var(--opacity);
  transition: opacity 0.25s;
}

.popup.open {
  --opacity: 1;
  pointer-events: all;
}
